/*
    Document   : style.css
    Created on : 2015-04-20 08:13 PM
    Author     : GTFoily
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}